/* #### RESET CSS #### */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
    background-color: black;
}

/* ####### GENERAL COMPONENTS ####### */
#searchMobile {
    display: none;

}
#componentsPage {
    height: 100vh;
    background-image: url('Utilities/Images/bg2.png');
    margin: 0;
    background-size: cover;
    background-position: center;
}
.scrollSnap {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollSnap::-webkit-scrollbar {
  display: none;
}
.scrollSnap section {
  scroll-snap-align: start;
}
/* #### NAVBAR #### */
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    width: 90%;
    margin: 0 auto;
    z-index: 998;
}
#navLogoXS {
    display: none;
}
#rightNav {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
}
#searchIconMobile {
    display: none;
    cursor: pointer;
}
#searchIconHover {
    display: none;
    cursor: pointer;
}
#searchIcon {
    cursor: pointer;
}
#searchIcons:hover #searchIcon {
    display: none;
}
#searchIcons:hover #searchIconHover {
    display: inline-flex;
}
#barsIcon {
    cursor: pointer;
}

/* ### BARRA DE PESQUISA ### */
.barraPesquisa {
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-weight: 400;
    min-width: 400px;
    border-radius: 10px;
    padding: 2px 6px;
    display: none;
}
.barraPesquisa.active {
    display: block;
}

/* ### SIDE MENU ### */
.side-menu {
    position: absolute;
    margin-top: 10px;
    top: 100%;
    right: 0;
    width: fit-content;
    background-color: #050505; 
    border: 1px solid white;
    border-radius: 16px; 
    padding: 35px;
    z-index: 999;
    text-wrap: nowrap;
    display: none;
}
.side-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}
.side-menu a {
    text-decoration: none;
    color: #d1d1d1;
    font-size: 14px;
    font-weight: 600;
    text-align: right;
    display: block;
    transition: color 0.2s ease;
}
.side-menu a:hover {
    color: #ffffff;
}
.side-menu.active {
    display: block;
}

/* ### SIDE BUTTONS ### */
#sideButtons {
    display: flex;
    position: fixed;
    flex-direction: column;
    gap: 10px;
    top: 35%;
    right: 0;
    height: fit-content;
    width: fit-content;
    z-index: 997;
}
#sideButtons a {
    font-weight: 600;
    text-decoration: none;
    color: #182439;
    background-color: #83e1b2;
    border: 1px solid transparent; 
    border-radius: 0 10px 10px 0; 
    padding: 10px 5px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    transition: 0.4s;
    box-shadow: 0 0 5px #83e1b2,
                0 0 25px #83e1b2,
                0 0 50px #83e1b2,
                0 0 200px #83e1b2;
    
}
#sideButtons a:hover {
    background-color: #2CE387;
    box-shadow: 0 0 5px #2CE387,
                0 0 25px #2CE387,
                0 0 50px #2CE387,
                0 0 200px #2CE387;
}

/* #### FOOTER #### */
footer {
    width: 90%;
    padding: 50px;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
#topFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    width: 100%;
}
#logotiposFooter {
    display: flex;
    align-items: center;
    gap: 20px;
}
#logotiposRedes {
    display: flex;
    align-items: center;
    gap: 20px;
}
#bottomFooter {
    display: flex;
    gap: 10px;
    padding: 20px 0;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#bottomFooter p {
    font-weight: 500;
    font-size: 14px;
    color: white;
}
#line {
    border: 1px solid white;
    border-radius: 3em;
}
#bottomFooter a {
    font-weight: 200;
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition: 0.4s;
}
#copyrightFooter {
    display: flex;
    align-items: center;
    gap: 10px;
}
#linksFooter {
    display: flex;
    align-items: center;
    gap: 10px;
}
#bottomFooter a:hover {
    color: lightgray;
}
#facebookIconHover,
#instagramIconHover,
#youtubeIconHover,
#linkedinIconHover {
    display: none;
}
a:hover #facebookIcon,
a:hover #instagramIcon,
a:hover #youtubeIcon,
a:hover #linkedinIcon {
    display: none;
}
a:hover #facebookIconHover,
a:hover #instagramIconHover,
a:hover #youtubeIconHover,
a:hover #linkedinIconHover {
    display: inline-flex;
}

/* ####### HOMEPAGE ####### */
/* ##### SECTION 1 ##### */
#homepageSection {
    position: relative;
    height: 100vh;
    background-image: url('Utilities/Images/bg1.png');
    margin: 0;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#homepageSection::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
    z-index: 2;
    pointer-events: none;
}
#topHomepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}
#homepageLogoS {
    display: none;
}
#topHomepage h1 {
    font-size: 140px;
    font-weight: 700;
    background: #78849D;
    background: linear-gradient(to right, #78849D 0%, #FFFFFF 100%);
    filter: drop-shadow(0 0 8px rgba(0,0,0,0.1)) 
            drop-shadow(8px 8px 8px rgba(0,0,0,0.1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#mergulhadorHomepage {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    right: 0;
    left: 0;
    width: 560px;
    z-index: 1;
}
#bottomHomepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    z-index: 999;
    width: 100%;
    padding-bottom: 100px;
}
#bottomNav {
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
#bottomNav a{
    font-size: 15px;
    line-height: 1;
    text-decoration: none;
    color: white;
    transition: 0.4s;
}
#bottomNav a:hover {
    color: grey;
}
#btnJuntate {
    text-decoration: none;
    color: #182439;
    background-color: #83e1b2;
    border: 1px solid transparent; 
    box-shadow: 0 0 5px #83e1b2,
                0 0 25px #83e1b2,
                0 0 50px #83e1b2,
                0 0 200px #83e1b2;
    border-radius: 10px;
    padding: 8px 14px;
    font-weight: 600;
    transition: 0.4s;
}
#btnJuntate:hover {
    background-color: #2CE387;
    box-shadow: 0 0 5px #2CE387,
                0 0 25px #2CE387,
                0 0 50px #2CE387,
                0 0 200px #2CE387;
}

/* ####### SECTION 2 ####### */
#destaquesSection {
    height: 100vh;
    background-image: url('Utilities/Images/bg2.png');
    margin: 0;
    background-size: cover;
    background-position: center;
}

/* #### FOOTER SECTION #### */
#footerSection {
    position: relative;
    min-height: 100vh;
    background-color: black;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#footerSection h1 {
    font-size: 100px;
    font-weight: 700;
    background: #78849D;
    background: linear-gradient(to right, #78849D 0%, #FFFFFF 100%);
    filter: drop-shadow(0 0 8px rgba(0,0,0,0.1)) 
            drop-shadow(8px 8px 8px rgba(0,0,0,0.1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 3;
}
#fuzileiroFooter {
    position: absolute;
    max-width: 700px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

/* ###### RESPONSIVIDADE ###### */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
        
        #searchMobile {
            display: block;
        }
        /* ### NAVBAR ### */
        nav {
            padding: 35px 20px;
            width: 100%;
        }
        #navLogoXS {
            display: flex;
        }
        #navLogoS {
            display: none;
        }
        .barraPesquisa {
            min-width: 200px;
        }
        #searchIcons {
            display: none;
        }
        #searchIconMobile {
            display: flex;
        }
        /* ### SIDE BUTTONS ### */
        #sideButtons a{
            font-size: 12px;
        }
        /* ### SECTION 1 ### */
        #homepageLogoM {
            display: none;
        }
        #homepageLogoS {
            display: flex;
        }
        #topHomepage{
            padding-top: 80px;
        }
        #topHomepage h1 {
            font-size: 45px;
            font-weight: 800;
        }
        #mergulhadorHomepage{
            width: 380px;
            bottom: 50px;
        }
        #bottomHomepage{
            gap: 40px;
        }
        #bottomNav{
            gap: 14px;
        }
        #btnJuntate{
            font-size: 10px;
            padding: 7px 14px;
        }
        #bottomNav a {
            font-size: 11px;
        }
        .searchMobile {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 999;
            top: 0;
            right: 0;
            background-color: black;
            overflow-x: hidden;
            padding-top: 60px;
            transition: 0.5s;
        }
        .searchMobile a{
            padding: 8px 32px 8px 8px;
            text-decoration: none;
            font-size: 25px;
            color: white;
            display: block;
            transition: 0.3s;
        }
        .searchMobile a:hover {
            color: #78849D;
        }
        .searchMobile .barraPesquisa {
            padding: 10px 20px;
            font-size: 18px;
            width: 80%;
            margin: 0 auto;
            display: block;
            border: 0;
            border-bottom: 1px solid white;
            border-radius: 0;
        }
        .searchMobile .barraPesquisa:focus {
            outline: none;
            border-bottom: 2px solid #78849D;
        }
        .searchMobile .closebtn {
            position: absolute;
            top: 0;
            left: 15px;
            font-size: 36px;
        }
        /* ### FOOTER SECTION ### */
        #footerSection {
            padding-top: 170px;
            justify-content: start;
        }
        #footerSection h1 {
            font-size: 40px;
        }
        #fuzileiroFooter {
            width: 360px;
        }

        /* ### FOOTER ### */
        footer {
            padding: 15px;
        }
        #topFooter {
            flex-direction: column;
            gap: 20px;
        }
        #logotiposFooter {
            justify-content: space-between;
        }
        #bottomFooter {
            width: 100%;
            flex-direction: column;
        }
        #copyrightFooter p{
            font-size: 10px;
        }
        #barraCopyright {
            display: none;
        }
        #linksFooter {
            gap: 3px;
        }
        #linksFooter a{
            text-align: center;
            font-size: 8.5px;
        }

}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}